/* EditPassword.css */

.edit-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .edit-password-container h2 {
    margin-bottom: 20px;
  }
  
  .edit-password-container form div {
    margin-bottom: 15px;
  }
  
  .edit-password-container form label {
    display: block;
    font-weight: bold;
  }
  
  .edit-password-container form input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .edit-password-container form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-password-container form button:hover {
    background-color: #0056b3;
  }
  