.vh-100{
    background-color: aqua;

}
.fghjkjhgf{
    background-color: rgb(243, 227, 2);
}
.d{
    background-color: rgb(221, 255, 127);
    height: 620px;
}

.control{
    background-color: black;
}
.v
{
    color: rgb(11, 11, 24);
    position: absolute;
  top: 8;
  right: 20; 
}