/* .kaushal
{
background-color: rgb(10, 91, 94);
}
.kausha{
    background-color: blue;
} */
 .hohjhgtyme{
        height: 600px;
        background-color: #b65902; /* Initial background color */
        position: relative;
        animation: changeColor 8s infinite; /* Animation name, duration, and repetition */
      }
      
      @keyframes changeColor {
        0% {
          background-color: #57e052; /* Initial background color */
        }
        50% {
          background-color: #db0972; /* Change background color midway */
        }
        100% {
          background-color: #2d02ec; /* Back to initial background color */
        }
      }
      
